
.App {
  text-align: center;
}


h1{
  font-size: 24px;
  line-height: 29px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  margin: 5px 0;
}


.header{
  position: fixed;
  height: 45px;
  width: 100%;
  top: 0;
  background-color: #EC6D52;
  z-index: 10;
}
#newFormButton{
  float: right;
  width: 92.57px;
  height: 35px;
  margin: 5px;
}
.img2 {
  height: 40px;
}



.body{
  height: 55vh;
  margin-top: 45px;
  margin-left: 200px;
  padding-top: 50px;
}
#myTitle{
  width: 30%;
  margin-bottom: 10px;
}
#myTextArea{
  width: 60%;
  height: 200px;
  margin-bottom: 10px;
}



.settings{
  height: 30vh;
  margin-left: 200px;
}
.privacy{
  margin-bottom: 30px;
}
.privacyChoices{
  padding-left: 20px;
}
.expireChoices{
  padding-left: 20px;
}



#create{
  margin-left: 200px;
  margin-bottom: 100px;
  width: 171px;
  height: 50px;
}


/* img {
  width: 80px;

} */

/*
form {
  margin: 20px auto;
  width: 320px;
  color: #E35F21
}

#myTextArea{

  position: absolute;
  width: 759px;
  height: 291px;
  left: 213px;
  top: 251px;
}
  /*width: 30%;
  margin: 50%;
  height: 50%;
  margin-left: 10%;
  margin-top: 10%;
} 
#myFile {
  width: 30%;
  margin: 0%;
  height: 0%;
  margin-left: 10%;
  margin-top: -10px;

}

#pass {
  position: absolute;
  width: 272px;
  height: 29px;
  left: 383px;
  top: 959px;

}

#Link{
  position: absolute;
width: 122px;
height: 29px;
left: 235px;
top: 1074px;
}
#create{
  position: absolute;
width: 122px;
height: 29px;
left: 235px;
top: 1074px;

}
#Link{
  position: absolute;
width: 489px;
height: 39px;
left: 396px;
top: 125px;
margin-top: 500px;
}



 /*#textbox{
  width: 700%;
  margin: 50px;
 height: 600px;


}

input[type="password"] {
  margin-bottom: 10px;
  width: 30%;
  margin: 200px;

}
#Privacy{
  
  width: 500px;
  height: 400px;
  left: 600px;
  top: 125px;
  margin-top: 700px;

}
h1{
  font-size: 1em;
  margin:0;
  padding:0;
  margin-top: 600px;
  margin-left: 230px;
}
h2{
  font-size: 1em;
  margin:0;
  padding:0;
  margin-top: 25px;
  margin-left: 228px;
}
  

input[type="radio"]{
  display      : inline-block;
  margin-left  : 230px;
  padding-left : 28px;
  line-height  : 24px;
}

input[type="box"]{
 margin-top: 50px;
 margin-left  : 100px;
 margin-bottom: 100px;
 width: 50px;
}

input[type="file"]{
  margin-bottom: 100px;
}
*/



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
