
.App {
  text-align: center;
}


h1{
  font-size: 24px;
  line-height: 29px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  margin: 5px 0;
}


.header{
  position: fixed;
  height: 6vh;
  width: 100%;
  top: 0;
  background-color: #EC6D52;
  z-index: 10;
}
#newFormButton{
  float: right;
  width: 15vh;
  height: 4vh;
  margin: 1vh;
}
.img2 {
  height: 6vh;
}



.body{
  padding-top: 13vh;
  margin-left: 10vh;
  padding-left: 10vh;
  margin-right: 10vh;
  padding-bottom: 3vh;
  margin-bottom: 5vh;
  background-color: #edb8ad;
}
#myTitle{
  width: 30%;
  margin-bottom: 2vh;
}
#myTextArea{
  width: 75%;
  height: 30vh;
  margin-bottom: 2vh;
}



.settings{
  height: 30vh;
  margin-left: 20vh;
}
.privacy{
  margin-bottom: 3vh;
}
.privacyChoices{
  padding-left: 3vh;
}
.expireChoices{
  padding-left: 3vh;
}
#count{
  margin-left: 1vh;
  width: 8vh;
  text-align: right;
}
#dropdown{
  margin-left: 0.5vh;
}



#create{
  margin-left: 20vh;
  margin-bottom: 15vh;
  width: 171px;
  height: 50px;
}




.view{
  margin: 15vh 20vh 0 20vh;
}

.Link{
  margin-bottom: 5vh;
}
#link{
  margin: 0 1vh;
  width: 45vh;
}

.infoTop{
  background-color: #EC6D52;
  padding: 1vh;
  height: 3vh;
}
.infoDescribe{
  display: inline-block;
}
p{
  margin: 0;
  color: white;
}
.right{
  float: right;
  margin-left: 1vh;
}

.infoContent{
  padding: 5vh 10vh;
  background-color: #edb8ad;
}





.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
